In [2]:
import pandas as pd
import numpy as np

In [4]:
cust_df = pd.read_csv("../7XdsLqBdlaQ_comments_all.csv")
cust_df.head()

,CommentID,Comment,Author,DateTime,LikeCount,ReplyCount
0,0,Марти самый ценный СЦИ,The Finder,2023-07-19T01:00:28Z,0,0
1,1,"Если человек не сознался, всади ему весь магазин в лицо!\n Я",КиберКот,2023-07-13T16:55:49Z,0,0
2,2,Топ,Илья Афанасьев,2023-07-05T12:26:06Z,0,2
3,3,Веселая игра ),Indiqute,2023-07-04T10:17:46Z,0,0
4,4,Из СВД как из ПКМ :-D,someone090909,2023-06-11T12:47:02Z,0,0

In [5]:
df = cust_df.drop('Author', axis=1)
df.head()

,CommentID,Comment,DateTime,LikeCount,ReplyCount
0,0,Марти самый ценный СЦИ,2023-07-19T01:00:28Z,0,0
1,1,"Если человек не сознался, всади ему весь магазин в лицо!\n Я",2023-07-13T16:55:49Z,0,0
2,2,Топ,2023-07-05T12:26:06Z,0,2
3,3,Веселая игра ),2023-07-04T10:17:46Z,0,0
4,4,Из СВД как из ПКМ :-D,2023-06-11T12:47:02Z,0,0

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

# Извлекаем текст комментариев
comments = cust_df['Comment'].values

# Преобразуем текст комментариев в TF-IDF представление
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(comments)
print(X)
# # Применяем алгоритм KMeans для поиска кластеров
# kmeans = KMeans(n_clusters=5)
# kmeans.fit(X)
#
# # Выводим информацию о кластерах
# clusters = kmeans.predict(X)
# cust_df['кластер'] = clusters
# print(cust_df.groupby('кластер').count())
#
# # Визуализируем кластеры
# X = X.todense()
# pca = PCA(n_components=2)
# coords = pca.fit_transform(X)
#
# plt.scatter(coords[:, 0], coords[:, 1], c=clusters, cmap='viridis')
# plt.show()

  (0, 5169)	0.5796504834554939
  (0, 5717)	0.5796504834554939
  (0, 4614)	0.49914087442200034
  (0, 2611)	0.28083628957252915
  (1, 2494)	0.3465604330506761
  (1, 2559)	0.374659335885107
  (1, 964)	0.3365315005331437
  (1, 1705)	0.2808865320702915
  (1, 1134)	0.4350905251516392
  (1, 4922)	0.41278717123707026
  (1, 2986)	0.14838307219657895
  (1, 5741)	0.3173722502851415
  (1, 1709)	0.25482515250287413
  (2, 5323)	1.0
  (3, 1994)	0.5117159236209453
  (3, 961)	0.8591547087182627
  (4, 3625)	0.6048223608708834
  (4, 2142)	0.2543769598887039
  (4, 4625)	0.3633756274395215
  (4, 2045)	0.6613927936191063
  (5, 2759)	0.4479287769941885
  (5, 788)	0.4890308506356341
  (5, 5383)	0.37648791703706946
  (5, 897)	0.29257815211704113
  (5, 5948)	0.22441436595848593
  :	:
  (1997, 3144)	0.5210583222933844
  (1997, 4239)	0.4439729234741023
  (1997, 2634)	0.4103286890098526
  (1997, 1798)	0.25892199231757557
  (1998, 1660)	0.41794402123437985
  (1998, 2843)	0.41794402123437985
  (1998, 2605)	0.3965196212918168
  (1998, 3394)	0.3965196212918168
  (1998, 2173)	0.3598943676795759
  (1998, 5803)	0.3018447141247719
  (1998, 4706)	0.28448686415734653
  (1998, 5396)	0.18607258497541523
  (1999, 3151)	0.5969231871254725
  (1999, 677)	0.5446136384664734
  (1999, 2088)	0.3809222562238107
  (1999, 5796)	0.24185106790244112
  (1999, 1798)	0.2446335665420389
  (1999, 2611)	0.28920478429135577
  (2000, 5010)	0.6596079304875728
  (2000, 2844)	0.6257954977452292
  (2000, 3355)	0.4162900107373489
  (2001, 2236)	1.0
  (2002, 1014)	0.5995732553896883
  (2002, 1006)	0.5995732553896883
  (2002, 3133)	0.5301168011323762